<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <form id="subscriptionForm" [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h5>Personal Information</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="First name"
              required
              formControlName="first_name"
            />
            <mat-error
              *ngIf="
                (subscriptionForm.get('first_name')?.touched || nextButtonClicked) &&
                subscriptionForm.get('first_name')?.hasError('required')
              "
            >
              First name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Last name"
              required
              formControlName="last_name"
            />
            <mat-error
              *ngIf="
                (subscriptionForm.get('last_name')?.touched || nextButtonClicked) &&
                subscriptionForm.get('last_name')?.hasError('required')
              "
            >
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              type="email"
              matInput
              placeholder="Username"
              minlength="3"
              (keydown.space)="$event.preventDefault()"
              required
              formControlName="user_name"
            />
            <mat-error
              *ngIf="
                (subscriptionForm.get('user_name')?.touched || nextButtonClicked) &&
                subscriptionForm.get('user_name')?.hasError('required')
              "
            >
              Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Mobile"
              required
              formControlName="mobile_phone"
            />
            <mat-error
              *ngIf="
                (subscriptionForm.get('mobile_phone')?.touched || nextButtonClicked) &&
                subscriptionForm.get('mobile_phone')?.hasError('required')
              "
            >
              Mobile number is required
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email"
              required
              formControlName="email"
            />
            <mat-error
              *ngIf="
                (subscriptionForm.get('email')?.touched || nextButtonClicked) &&
                subscriptionForm.get('email')?.hasError('required')
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                (subscriptionForm.get('email')?.touched || nextButtonClicked) &&
                subscriptionForm.get('email')?.hasError('email')
              "
            >
              Email must be a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="{{ showPassword ? 'text' : 'password' }}"
              placeholder="Password"
              required
              formControlName="password"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePasswordVisibility('password')"
                [attr.aria-label]="'Toggle ' + (showPassword ? 'Hide' : 'Show') + ' password'"
              >
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            <mat-error
              *ngIf="
                (subscriptionForm.get('password')?.touched || nextButtonClicked) &&
                subscriptionForm.get('password')?.hasError('required')
              "
            >
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="{{ showConfirmPassword ? 'text' : 'password' }}"
              placeholder="Confirm password"
              required
              formControlName="cPassword"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePasswordVisibility('cPassword')"
                [attr.aria-label]="'Toggle ' + (showConfirmPassword ? 'Hide' : 'Show') + ' password'"
              >
                <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            <mat-error
              *ngIf="
                (subscriptionForm.get('cPassword')?.touched || nextButtonClicked) &&
                subscriptionForm.get('cPassword')?.hasError('required')
              "
            >
              Confirm password is required!
            </mat-error>
            <mat-error
              *ngIf="
                (subscriptionForm.get('cPassword')?.touched || nextButtonClicked) &&
                subscriptionForm.get('cPassword')?.hasError('passwordMismatch')
              "
            >
              Password and Confirm Password didn't match.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center mt-2">
            <mat-slide-toggle
              class="terms-service"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled"
              formControlName="acceptTerms"
            >
            &nbsp; I agree to the SportGrit, LLC
            <a routerLink="/cms-page/terms-conditions" target="_blank">Terms of Use</a> and <a routerLink="/cms-page/privacy-policy" target="_blank">Privacy Policy</a>
            </mat-slide-toggle>
            <mat-error
              *ngIf="
                (subscriptionForm.get('acceptTerms')?.touched || nextButtonClicked) &&
                subscriptionForm.get('acceptTerms')?.hasError('required')
              "
            >
              Please accept the terms and conditions.
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button
              mat-raised-button
              class="btn btn gray-btn"
              routerLink="/auth/onboarding/step4"
            >
              Previous
            </button>
            &nbsp;
            <button mat-raised-button type="submit" class="btn btn theme-btn">
              <!-- (click)="nextButtonClick()" -->
              Next
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- <div class="navigation">
      <button type="button" (click)="nextButtonClick()">Next</button>
    </div> -->
  </div>
</section>
