.theme-btn {
    background: #ec1c37;
    color: #fff;
  }
  .home-ul{
    padding: 40px 0;
  }

  
.banner-text {
  padding-right: 80px;
  margin: 50px 0px 0px;
}

.banner-text p {
  margin: 40px 0px;
}

.banner-text ul {
  list-style: none;
}

.banner-text ul li {
  display: inline-block;
  margin: 0px 10px 10px 0px;
}

.banner-text ul li a {
  display: block;
}

.banner-text ul li a img {
  width: 150px;
  border-radius: 7px;
}