body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.background-image-container {
  background-image: url('./../../../../assets/images/group-1@2x.png');
  background-size: cover;
  /* Adjust the size as needed */
  background-position: center;
  /* Center the background image */
  height: 80px;
  /* Adjust the height as needed */
  /* Add any other styles you want for the container */
}

a {
  color: #e62e35;
}

a:hover {
  color: #e62e35;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 600;
}

h6 {
  font-weight: 500;
}

.white {
  color: #ffffff !important;
}

.black {
  color: #000000;
}

.navbar {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-height: 50px;
  line-height: 50px;
  background: transparent;
  z-index: 1030;
}

.navbar .active {
  /* color: #E62E35 !important; */
  color: #fd0561 !important;
}


.navbar .nav-item {
  margin: 0 5px;
  padding: 0 12px;
}

.navbar .nav-item a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

.navbar .nav-item a:hover {
  /* color: #E62E35; */
  color: #fd0561;
}

.navbar .nav-link {
  position: relative;
  padding: 0;
}

.navbar .navbar-toggler {
  cursor: pointer;
}

.navbar .navbar-toggler span {
  color: #fff;
}

.navbar-style2 .active:after,
.navbar-style2 .nav-link:after {
  display: none;
}

.nav-scroll {
  /* background: #fff; */
  background-color: #16191c;
  /* -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922); */
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-scroll .navbar-nav>li>a {
  /* color: #333; */
  color: #fff;
}

.nav-scroll .navbar-brand img {
  -webkit-transform: scale(1.03) !important;
  transform: scale(1.03) !important;
}

.nav-scroll .navbar-toggler {
  cursor: pointer;
}

.nav-scroll .navbar-toggler span {
  color: #333;
}

.nav-scroll .nav-link:hover:after {
  background-color: #2388ed;
}

.nav-scroll .active {
  position: relative;
}

.banner::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000 !important;
  opacity: 0.85 !important;
  /* background: url(images/pattern.png); */
}

.banner a.weblink {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}

.banner a:hover {
  text-decoration: none;
}

.svg-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.svg-hero {
  width: 100%;
}

.banner-text {
  padding-right: 80px;
  margin: 50px 0px 0px;
}

.banner-text p {
  margin: 40px 0px;
}

.banner-text ul {
  list-style: none;
}

.banner-text ul li {
  display: inline-block;
  margin: 0px 10px 10px 0px;
}

.banner-text ul li a {
  display: block;
}

.banner-text ul li a img {
  width: 150px;
  border-radius: 7px;
}

.prelative {
  position: relative;
}

.sectioner-header {
  width: 69%;
  margin: 0 auto;
}

.line {
  height: 2px;
  width: 50px;
  background: #e62e35;
  display: block;
  margin: 20px auto 20px;
}

.line::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #e62e35;
  margin-left: -75px;
}

.sectioner-header p {
  color: #818992;
  font-size: 17px;
}

.section-content {
  /* margin-top: 80px; */
  margin-top: 0px;
}

.icon-box {
  margin-bottom: 50px;
}

.icon-box i {
  display: block;
  position: relative;
  width: 135px;
  height: 135px;
  border-radius: 100px;
  background: #7a60ff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  color: #ffffff;
  font-size: 50px;
  line-height: 135px;
  margin: 0 auto;
}

.icon-box h5 {
  margin-top: 30px;
}

.icon-box p {
  color: #818992;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
}

.about-btn {
  color: #e62e35;
  padding: 10px 40px;
  border: 2px solid #e62e35;
  border-radius: 7px;
  margin-top: 30px;
  display: inline-block;
  font-size: 18px;
}

.about-btn:hover {
  background: #e62e35;
  color: #ffffff;
  text-decoration: none;
}

.video-overlay {
  background-color: #f1f4f6;
}

.video-section h3 {
  font-weight: 600;
  font-size: 38px;
}

.video-section i {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: #ffffff;
  color: #e62e35;
  font-size: 30px;
  line-height: 70px;
  margin: 0 auto;
  cursor: pointer;
}

.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-content: center !important;
  -ms-flex-line-pack: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.video-popup .video-src {
  position: relative;
  width: 700px;
  max-width: 80%;
}

.video-popup .iframe-src {
  width: 100%;
  height: 0;
  padding-top: 56.3%;
  position: relative;
  display: none;
}

.video-popup .iframe-src iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.single-feature {
  margin-bottom: 80px;
  /* margin-top: 40px; */
  margin-top: 80px;
  cursor: pointer;
}

.single-feature h5 {
  font-size: 16px;
}

.media-right-margin {
  margin-right: 25px;
}

.single-feature p {
  font-size: 13px;
}

.icon-border {}

.icon-border span {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  color: #e62e35;
  font-size: 18px;
  line-height: 50px;
  border: 1px solid #e62e35;
}

.team {
  background: #fafafa;
  border-top: 1px solid #e4e4e4;
}

.team-detail {
  margin-top: 40px;
}

.team-detail img {
  border-radius: 50%;
  width: 70%;
}

.team-detail h4 {
  color: #e62e35;
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 0px;
}

.testimonial {
  background: #7a60ff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  padding: 100px 0px;
  position: relative;
}

.bx-wrapper {
  border: none !important;
  background: rgba(255, 255, 255, 0.81) !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.slider-item {
  padding: 20px;
}

.slider .test-img img {
  border: 12px solid #fff;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.test-img {
  float: left;
  width: 20%;
  margin-right: 5%;
}

.test-text {
  float: left;
  width: 75%;
}

.slider .title {
  display: block;
  position: relative;
  margin: 0 0 20px;
  font-size: 1.125em;
  line-height: 1.25;
}

.slider .title span {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
}

.faq {
  background: #fafafa;
  border-bottom: 1px solid #e4e4e4;
}

.faq-content {
  margin: 20px 0px;
}

.faq-content h4 {
  font-weight: 400;
  font-size: 20px;
}

.faq-content p {
  color: #818992;
  font-weight: 300;
  margin-top: 15px;
}

#contact_form .form-input {
  border: 1px solid #e4e4e4;
}

input {
  height: 42px;
  padding: 0 1rem;
  // background: #fff;
  // border-radius: 30px;
  margin-bottom: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  // border: 0;
}

#contact_form textarea {
  resize: none;
  padding: 1rem;
  height: 150px;
  background: #fff;
  border: 0;
  border-radius: 30px;
  margin-bottom: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-grad {
  padding: 0.7rem 2rem;
  display: inline-block;
  color: #fff;
  border-radius: 2rem;
  border: 0;
  background: #7a60ff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  cursor: pointer;
}

.contact-info {
  padding: 2rem 2rem 1rem;
  border-radius: 8px;
  background: #7a60ff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}

.contact-item {
  margin: 23px 0px;
}

.contact-item i {
  font-size: 20px;
}

.contact-item p {
  line-height: 20px;
  margin: 0;
}

.download {
  background: #7a60ff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  padding: 100px 0px;
  position: relative;
}

// .download::before {
//   content: "";
//   display: block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: url(images/pattern.png);
// }
.download ul {
  list-style: none;
}

.download ul li {
  display: inline-block;
  margin: 0px 10px 10px 0px;
}

.download ul li a {
  display: block;
}

.download ul li a img {
  width: 150px;
  border-radius: 7px;
}

/* 
  * Custom CSS
  */
.sign-in-wrapper {}

.theme-btn {
  background: #ec1c37;
  color: #fff;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.video .col-md-4 {
  padding: 5px;
}

.our-header-group {
  height: 150px;
  text-align: center;
  font-size: 100px;
  color: rgba(0, 0, 0, 0);
}

.header-title {
  -webkit-text-stroke: 1px #d2dcde;
}

.header-sub-title {
  position: absolute;
  top: 48px;
  left: calc(50% - 143.5px);
  font-size: 36px;
  color: #16191c;
}

.group-inner {
  position: absolute;
  top: 120px;
  left: calc(50% - 56.5px);
  background-color: #ec1c37;
  width: 113px;
  height: 3px;
}




.big-video-container {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-video-container video {
  width: 80%;
  height: auto;
}

.main-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.btn:hover {
  color: #ec1c37;
  background: #ffffff;
}

.video_title {
  color: #000000;
  padding-top: 15px;
  font-size: 18px;
}


.register_btn {
  margin: 0 !important;
}




@media screen and (min-width: 992px) and (max-width: 1366px) {
  img.group-icon2 {
    padding-bottom: 5px;
  }



  .our-header-group {
    /* position: absolute; */
    /* top: 782px; */
    /* left: calc(50% - 364px); */
    /* width: 729px; */
    height: 150px;
    text-align: center;
    font-size: 88px !important;
    color: rgba(0, 0, 0, 0);
  }

  .header-sub-title {
    position: absolute;
    top: 38px !important;
    left: calc(50% - 143.5px);
    font-size: 36px;
    color: #16191c;
  }

  .group-inner {
    position: absolute;
    top: 110px !important;
    left: calc(50% - 56.5px);
    background-color: #ec1c37;
    width: 113px;
    height: 3px;
  }

  .single-feature {
    margin-bottom: 40px !important;
    margin-top: 40px !important;
  }

  .single-feature p {
    font-size: 11px;
  }

  .line-icon,
  .landing-child {
    width: 80px;
  }

  .lead {
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-collapse {
    overflow: auto;
    /* background: rgb(213, 198, 221); */
    background: rgb(60 56 62);
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
  }

  .nav-scroll .navbar-collapse {
    /* background: #fff !important; */
    background: #1a1919 !important;
  }

  #contact_form {
    margin-bottom: 20px;
  }

  .our-header-group {
    /* position: absolute; */
    /* top: 782px; */
    /* left: calc(50% - 364px); */
    /* width: 729px; */
    height: 70px !important;
    text-align: center;
    font-size: 36px !important;
    color: rgba(0, 0, 0, 0);
  }

  .header-title {
    /* position: absolute; */
    /* top: 0; */
    /* left: calc(50% - 364.5px); */
    left: calc(50% - 50px) !important;
    -webkit-text-stroke: 1px #d2dcde;
  }

  .header-sub-title {
    position: absolute !important;
    top: 16px !important;
    left: calc(49% - 50px) !important;
    /* left: calc(44% - 45px) !important; */
    font-size: var(--font-size-base) !important;
    color: #16191c;
  }

  .video {
    .header-sub-title {
      position: absolute !important;
      top: 35px !important;
      // left: calc(49% - 50px) !important;
      left: calc(44% - 50px) !important;
      font-size: var(--font-size-base) !important;
      color: #16191c;
    }

    .group-inner {
      position: absolute;
      top: 64px !important;
      left: calc(50% - 50px) !important;
      background-color: #ec1c37;
      width: 113px !important;
      height: 3px;
    }
  }

  .group-inner {
    position: absolute;
    top: 50px !important;
    left: calc(50% - 50px) !important;
    background-color: #ec1c37;
    width: 113px !important;
    height: 3px;
  }

  .line-icon,
  .landing-child {
    width: 66px;
  }

  .single-feature p {
    font-size: 10px;
  }

  img.group-icon2 {
    padding-bottom: 5px;
  }

  .feature-img {
    padding: 0px !important;
  }

  .lead {
    font-size: 12px;
    font-weight: 300;
    text-align: justify;
  }
}

@media all and (max-width: 768px) {

  .nav-scroll .navbar-brand img,
  .navbar-brand img {
    transform: scale(0.75) !important;
    -webkit-transform: scale(0.75) !important;
  }

  .banner-text {
    padding-right: 0px;
    margin: 10px 0px 0px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 23px;
  }

  .banner-text p {
    margin: 25px 0px;
  }

  .banner-text ul li a img {
    width: 140px;
    border-radius: 7px;
  }

  .sectioner-header {
    width: 90%;
  }

  .sectioner-header p {
    font-size: 14px;
  }

  .about-btn {
    padding: 5px 30px;
    margin-top: 0px;
    font-size: 16px;
  }

  .single-feature {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .team-detail {
    margin-top: 20px;
  }

  .team-detail img {
    width: 50%;
  }

  .bx-controls {
    display: none;
  }

  .bx-wrapper {
    margin: 0px 20px !important;
  }

  .slider .test-img img {
    margin: 0 auto;
  }

  .test-img {
    float: none;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .test-text {
    float: none;
    width: 100%;
    text-align: center;
  }

  .section-content {
    margin-top: 40px;
  }

  .faq-content {
    margin: 10px 0px;
  }

  .faq-content h4 {
    font-size: 16px;
  }

  .faq-content p {
    font-size: 13px;
  }

  #contact_form {
    margin-bottom: 20px;
  }

  .contact-item {
    font-size: 12px;
  }

  .download ul li a img {
    width: 120px;
  }

  .footer-copy p {
    font-size: 10px;
  }

  .video .col-md-4 {
    padding: 5px !important;
    margin: 5px;
  }

  .single-feature p {
    font-size: 10px;
  }

  .line-icon,
  .landing-child {
    width: 68px;
  }

  .our-header-group {
    height: 55px !important;
    text-align: center !important;
    font-size: 36px;
    color: rgba(0, 0, 0, 0);
  }

  .header-title {
    -webkit-text-stroke: 1px #d2dcde;
  }

  .header-sub-title {
    position: absolute;
    top: 15px !important;
    left: calc(50% - 68.5px) !important;
    font-size: 16px;
    color: #16191c;
    /* text-align: unset; */
    vertical-align: middle;
  }

  .group-inner {
    position: absolute;
    top: 46px !important;
    left: calc(50% - 56.5px);
    background-color: #ec1c37;
    width: 113px;
    height: 3px;
  }
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 25px;
  margin: 5px;
  padding: 5px 15px;
  background: #2380E7;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

@media only screen and (max-width: 481px) and (max-width: 767px) {

  // img.group-icon2 {
  //   padding-bottom: 10px !important;
  // }
  .line-icon,
  .landing-child {
    display: none;
  }

  .nav-outer {
    background: #00000061;
    padding: 10px;
  }

  .signin_btn {
    margin-left: 0 !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .line-icon,
  .landing-child {
    display: none;
  }

  .nav-outer {
    background: #000;
    padding: 10px;
  }

  .signin_btn {
    margin-left: 0 !important;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {

  .line-icon,
  .landing-child {
    display: none;
  }

  .nav-outer {
    background: #000;
    padding: 10px;
  }

  .signin_btn {
    margin-left: 0 !important;
  }
}