@import "src/variables";
mat-form-field {
  font-size: 14px;
}
.header {
  background: $header-grey;
  // padding: 10px 20px;
  align-items: center;
  display: flex;
  // margin-bottom: 10px;
  // height: 74% !important;
  // min-height: 74% !important;
}

.header-icon {
  background: #ccc;
  color: $black;
  padding: 10px;
  border-radius: 50%;
  font-size: 0.7em;
  position: relative;
  top: 5px;
}

.user-dropdown {
  position: relative;
  display: inline-block;

  .dropdown {
    cursor: pointer;
    display: none;
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 34px;

    mat-card {
      width: 200px;
      padding: 5px 10px;

      .menu-item {
        padding: 10px;
        border-radius: 3px;
        font-size: 15px;

        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
  }
}

.m-icon {
  padding: 10px;
  border-radius: 50%; // background: grey;
}

.logo-container {
  display: flex; // border: 1px solid black;
  align-items: center;
  height: 98%;
  overflow: hidden;

  // border-radius: 50%;
  // border: 1px solid #eee; // padding: 5px;
  // box-shadow: 0px 5px 5px grey;
  img {
    // width: 50%;
    max-height: 100%;
  }
}

.lblHeading {
  padding-left: 10px;
  font-size: 18px;
  display: flex;
}

.page-title {
  padding-left: 8px;
  font-size: 15px;
  display: -webkit-box;
  display: flex;
  font-weight: 600;
}

.select-dropdowns {
  align-items: center !important;
  flex: 1 1 75% !important;
}

.header-logo {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.nameHeading {
  color: var(--neutrall-40, #595e62);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.m-sub-title {
  font-weight: bold;
  font-weight: 16px;
}

/* Adjust the height of the mat-form-field */
// .mat-form-field {
//   height: 32px;
// }

/* Adjust the height of the mat-select */
// .mat-form-field .mat-select {
//   height: 32px !important;
// }

::ng-deep .header .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 6px 0px 8px 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
  margin-top: 12px !important;
  position: relative;
}

// ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 19px !important;
// }
::ng-deep .mat-select-arrow-wrapper {
  height: 7px !important;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 0 !important;
}

.selected-image,
.dropdown-image {
  // width: 16px;
  // height: 16px;
  width: 25px;
  padding-top: 5px;
  padding-right: 10px;
}

.placeholder {
  color: #999;
  /* Define a placeholder color */
}

.mat-select-trigger {
  line-height: 15px !important;
}

.header .mat-form-field {
  // line-height: 15px !important;
  line-height: 13px !important;
  height: 70px;
}

mat-select-trigger span {
  position: absolute !important;
  padding-top: 6px !important;
  // padding-top: 10px !important;
  padding-left: 10px;
  font-size: 15px;
}

.selected-club {
  padding-top: 0px !important;
}

.mat-select-placeholder {
  color: #595e62 !important;
  top: -2px !important;
  position: absolute !important;
}

::ng-deep .mat-select.mat-select-empty .mat-select-arrow {
  top: -3px !important;
}
::ng-deep .with-img-drop-down .mat-select-arrow {
  // top: -3px !important
  top: 0px !important;
}

::ng-deep .mat-select:not(.mat-select-empty) .mat-select-arrow {
  // top: 3px !important;
  top: 0 !important;
}
// ::ng-deep .no-img-drop-down .mat-select-arrow{
//   top: -3px !important
// }

.season-drop-down {
  width: 100%;
  padding-top: 4px;
  font-size: 18px;
}

::ng-deep .mat-option-text {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  flex-grow: inherit !important;
}

// theme selection
.theme-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-toggle-button {
  opacity: 1;
}

// .theme-icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   background-color: #23282b; /* Background color for the circle */
//   color: #fff; /* Icon color */
//   transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
//   // border: 1px dotted #e5e7eb;
// }

// .theme-toggle-button:hover .theme-icon {
//   background-color: #fff; /* Hover background color */
//   color: #333; /* Hover icon color */
// }

// .theme-toggle-button:hover .theme-icon:hover {
//   background-color: #333; /* Hover background color */
// }

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
