<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5 class="text-center">Thanks For The Club Info</h5>
          <p>
            We will contact the club with the information you have provided. We
            hope you will see them here soon. Feel free to contact us at
            <a href="mailto:admin@sportgrit.com.com">admin@sportgrit.com</a> if
            you have any other questions or ideas.
          </p>
          <p>SportGrit team<br />admin@sportgrit.com</p>
        </div>
      </div>
    </div>
  </div>
</section>