<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5 class="text-center">Thanks For The Club Info</h5>
          <p>
            We will notify you after speaking with the Club. Feel free to
            contact us at
            <a href="mailto:admin@sportgrit.com.com">admin@sportgrit.com</a>
            for any queries.
          </p>          
        </div>
      </div>
    </div>
  </div>
</section>