<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <form id="clubForm" [formGroup]="clubForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h5>Club Is Not Here?</h5>
            <p>Tell us about your club and how to contact you so we can get your club added to our app.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Club name"
              required
              formControlName="club_name"
            />
            <mat-error
              *ngIf="
                (clubForm.get('club_name')?.touched || nextButtonClicked) &&
                clubForm.get('club_name')?.hasError('required')
              "
            >
              Club name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Club contact person"              
              formControlName="club_contac_person"
            />
            <mat-error
              *ngIf="
                (clubForm.get('club_contac_person')?.touched || nextButtonClicked) &&
                clubForm.get('club_contac_person')?.hasError('required')
              "
            >
              Club contact person is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="email"
              placeholder="Club contact email"
              formControlName="club_email"
            />
            <mat-error
              *ngIf="
                (clubForm.get('club_email')?.touched || nextButtonClicked) &&
                clubForm.get('club_email')?.hasError('required')
              "
            >
              Club contact email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-placeholder class="mobile_no_lbl">Club contact phone</mat-placeholder>
            <input
              formControlName="mobile_no"              
              #ng2TelInput
              type="tel"
              autocomplete="off"
              matInput
              ng2TelInput
              [ng2TelInputOptions]="{
                initialCountry: initialCountry,
                autoHideDialCode: false,
                separateDialCode: true,
                formatOnDisplay: true,
                excludeCountries: true
              }"
              (hasError)="hasTelError($event)"
              (ng2TelOutput)="getNumber($event)"
              (countryChange)="telCountryChange($event)"
              [value]="mobile_no"
              (keyup)="formatMobile($event.target.value)"
            />
            <mat-error
              *ngIf="
                (clubForm.get('mobile_no')?.touched ||
                  nextButtonClicked) &&
                  clubForm.get('mobile_no')?.hasError('required')
              "
            >
              Club contact phone is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Club street address"              
              formControlName="club_address"
            />
            <mat-error
              *ngIf="
                (clubForm.get('club_address')?.touched || nextButtonClicked) &&
                clubForm.get('club_address')?.hasError('required')
              "
            >
              Club street address is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="City"
              required
              formControlName="city"
            />
            <mat-error
              *ngIf="
                (clubForm.get('city')?.touched || nextButtonClicked) &&
                clubForm.get('city')?.hasError('required')
              "
            >
              City is required
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="State"
              required
              formControlName="state"
            />
            <mat-error
              *ngIf="
                (clubForm.get('state')?.touched || nextButtonClicked) &&
                clubForm.get('state')?.hasError('required')
              "
            >
              State is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="tel"
              placeholder="Zip code"              
              formControlName="zip"
            />
            <mat-error
              *ngIf="
                (clubForm.get('zip')?.touched || nextButtonClicked) &&
                clubForm.get('zip')?.hasError('required')
              "
            >
            Zip code is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Your name"
              required
              formControlName="your_name"
            />
            <mat-error
              *ngIf="
                (clubForm.get('your_name')?.touched || nextButtonClicked) &&
                clubForm.get('your_name')?.hasError('required')
              "
            >
              Your name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-placeholder class="mobile_no_lbl">Your phone</mat-placeholder>
            <input
              formControlName="your_mobile_no"
              required
              #ng2TelInputTwo
              type="tel"
              matInput
              ng2TelInput
              [ng2TelInputOptions]="{
                initialCountry: initialCountry,
                autoHideDialCode: false,
                separateDialCode: true,
                formatOnDisplay: true,
                excludeCountries: true
              }"
              (hasError)="hasTelError($event)"
              (ng2TelOutput)="getNumber2($event)"
              (countryChange)="telCountryChange2($event)"
              [value]="your_mobile_no"
              (keyup)="formatMobile2($event.target.value)"
            />
            <mat-error
              *ngIf="
                (clubForm.get('your_mobile_no')?.touched ||
                  nextButtonClicked) &&
                  clubForm.get('your_mobile_no')?.hasError('required')
              "
            >
              Your phone is required
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button mat-raised-button type="submit" class="btn btn theme-btn">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
