.theme-btn {
    background: #ec1c37;
    color: #fff;
  }

  ::ng-deep input {
    font-size: 20px !important; /* Adjust the font size as needed */
  }
  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    font-size: 22px !important; /* Adjust the font size as needed */
  }
  
// .form-group {
//   & + & {
//     margin-top: 1rem;
//   }
// }

// label {
//   display: block;
// }

// input,
// textarea {
//   padding: 0.5rem;
//   border-radius: 0.25rem;
//   border: 1px solid #ccc;
//   font-size: 1rem;
//   width: 100%;
//   box-sizing: border-box;
// }

// .navigation {
//   margin-top: 1rem;
//   text-align: end;
// }

// button {
//   background-color: #007bff;
//   color: #fff;
//   padding: 0.5rem 1rem;
//   border: none;
//   border-radius: 0.25rem;
//   font-size: 1rem;
//   cursor: pointer;
// }
