<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <form
      id="universityForm"
      [formGroup]="universityForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h5>Enter Details</h5>
            <p>Enter University Details</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="email"
              autocomplete="off"
              placeholder="Official email"
              required
              formControlName="official_email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            />
            <mat-error
              *ngIf="
                (universityForm.get('official_email')?.touched ||
                  nextButtonClicked) &&
                universityForm.get('official_email')?.hasError('required')
              "
            >
              Official email is required
            </mat-error>
            <mat-error
              *ngIf="
                (universityForm.get('official_email')?.touched ||
                  nextButtonClicked) &&
                universityForm.get('official_email')?.hasError('official_email')
              "
            >
              Official email must be a valid email address
            </mat-error>
            <mat-error
              *ngIf="universityForm.get('official_email')?.hasError('pattern')"
            >
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Recruiter title"
              required
              autocomplete="off"
              formControlName="recruiter_title"
            />
            <mat-error
              *ngIf="
                (universityForm.get('recruiter_title')?.touched ||
                  nextButtonClicked) &&
                universityForm.get('recruiter_title')?.hasError('required')
              "
            >
              Recruiter title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="url"
              placeholder="Program website URL"
              required
              autocomplete="off"
              formControlName="program_website_url"
              pattern="^(https?:\/\/)?(www\.)?([\da-z.-]+)\.([a-z.]{2,6})([/\w .-]*)*\/?$"
            />
            <mat-error
              *ngIf="
                (universityForm.get('program_website_url')?.touched ||
                  nextButtonClicked) &&
                universityForm.get('program_website_url')?.hasError('required')
              "
            >
              Program website URL is required
            </mat-error>
            <mat-error
              *ngIf="
                universityForm.get('program_website_url')?.hasError('pattern')
              "
            >
              Please enter a valid URL
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="University name"
              required
              autocomplete="off"
              formControlName="university_name"
            />
            <mat-error
              *ngIf="
                (universityForm.get('university_name')?.touched ||
                  nextButtonClicked) &&
                universityForm.get('university_name')?.hasError('required')
              "
            >
              University name is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Street address"
              required
              autocomplete="off"
              formControlName="street_address"
            />
            <mat-error
              *ngIf="
                (universityForm.get('street_address')?.touched ||
                  nextButtonClicked) &&
                universityForm.get('street_address')?.hasError('required')
              "
            >
              Street address is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="City"
              required
              autocomplete="off"
              formControlName="city"
            />
            <mat-error
              *ngIf="
                (universityForm.get('city')?.touched || nextButtonClicked) &&
                universityForm.get('city')?.hasError('required')
              "
            >
              City is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="State"
              required
              autocomplete="off"
              formControlName="state"
            />
            <mat-error
              *ngIf="
                (universityForm.get('state')?.touched || nextButtonClicked) &&
                universityForm.get('state')?.hasError('required')
              "
            >
              Stage is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="tel"
              placeholder="Zip code"
              required
              autocomplete="off"
              formControlName="zip"
            />
            <mat-error
              *ngIf="
                (universityForm.get('zip')?.touched || nextButtonClicked) &&
                universityForm.get('zip')?.hasError('required')
              "
            >
              Zip code is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-placeholder class="mobile_no_lbl"
              >Contact phone</mat-placeholder
            >
            <input
              formControlName="mobile_phone"
              required
              #ng2TelInput
              type="tel"
              autocomplete="off"
              max="10"
              matInput
              ng2TelInput
              [ng2TelInputOptions]="{
                initialCountry: initialCountry,
                autoHideDialCode: false,
                separateDialCode: true,
                formatOnDisplay: true,
                excludeCountries: true
              }"
              (hasError)="hasTelError($event)"
              (ng2TelOutput)="getNumber($event)"
              (countryChange)="telCountryChange($event)"
              [value]="mobile_phone"
              (keyup)="formatMobile($event.target.value)"
            />
            <mat-error
              *ngIf="
                (universityForm.get('mobile_phone')?.touched ||
                  nextButtonClicked) &&
                universityForm.get('mobile_phone')?.hasError('required')
              "
            >
              Contact phone is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button mat-raised-button type="submit" class="btn btn theme-btn">
              Next
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
