:host {
  display: block;
  --circle-size: clamp(1.5rem, 5vw, 3rem);
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

ol {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  gap: var(--spacing); /* Use gap for spacing between steps */
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 12px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.38);
  position: relative; /* Add position relative for positioning the line bar */

  &.active,
  &.done {
    color: #ec1c37;
  }

  &.active svg,
  &.done svg {
    fill: #ec1c37; /* Set the fill color for the SVG */
  }
}

svg {
  width: 32px;
  height: 32px;
}

.spacer {
  position: relative;
  top: 15px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 10rem;
}

li.done + .spacer {
  background-color: #ec1c37;
}

text {
  font-size: 0.5rem;
}
