<p><span style="font-family: Calibri, serif;"><span style="font-size: large;"><strong>SportGrit Volleyball App End User
        License Agreement</strong></span></span></p>
<p><br /> </p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;"><strong>Acknowledgement</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">This End User License Agreement
      (&ldquo;Agreement&rdquo;) is between You (the End user of the app) and Sports Grit, LLC and governs use of the
      SportGrit Volleyball app made available through the Apple App Store.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC, not Apple, is solely
      responsible for the Licensed Application and the content thereof. The EULA may not provide for usage rules for
      Licensed Applications that are in conflict with the App Store Terms of Service as of the Effective Date.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">The SportGrit Volleyball App </span></span><span
    style="color: #000000;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">provides a
        platform for volleyball clubs and its coaches, athletes, and parents to co-create an ecosystem of collaboration
        to prepare teams and athletes for success. The app also allows college recruiters to lookup athletes, view game
        stats, and follow athletes to monitor their training, competition results, game highlight videos, and
        coordinate with club coaches about athletes in whom they may have recruiting interest.</span></span></span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Additionally,
        the SportGrit Volleyball App adds convenience and cost savings for clubs by providing automated registering for
        tryouts, coaching clinics, and other club-specific events, a communication portal (email to the entire club,
        individual teams, players, parents), automatic and recurring payments by parents or athletes for their monthly
        or annual club fees, and even platforms to gather information from uniform sizing to player recruiting info.
      </span></span></span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Volleyball
        clubs, schools or other team organizations first enroll with Sports Grit, LLC through a separate Agreement and
        Contract, and by so doing their club portal is added to the SportGrit Volleyball app. Via their own marketing
        and information dissemination, athletes, parents, family members of athletes, club coaches, and others are
        encouraged to download the SportGrit Volleyball App, make a one-time selection of the Club with which they are
        affiliated, and complete the quick and easy On-Boarding screens for that Club. </span></span></span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">When a
        user signs in to the SportGrit Volleyball App after initial onboarding, they return to the user portal of the
        club they initially selected and in which they most recently on-boarded. The user portal allows visibility to
        teams, players, stats, leader boards, schedules, events, and more. </span></span></span></p>
<p>&nbsp;</p>
<p><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">A user
        with default Family-Friends-Fans permissions within any club portal may view available content, but MAY NOT post
        content or comments on social feed boards or chat features. </span></span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;">The ability to post content in the social feed and team chat areas within each club is
      given ONLY to app users whose user permissions have been recognized and confirmed by coaches and club
      administrators as being personally known and officially affiliated with that particular club, AND whose app user
      privileges within their specific SportGrit Volleyball App club have been elevated from default Family-Friends-Fans
      status to any of the following app user roles: Athlete, Parent, Coach or Club Admin. Only a Club Admin role or
      higher has permission credentials sufficient to change user roles. </span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">By installing the SportGrit Volleyball
      App, you agree to be bound by this Agreement and understand that if granted applicable user permissions, there is
      no tolerance for posting objectionable content or abusive language in the social media feeds and team chat areas
      of the app. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the
      SportGrit Volleyball App.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">In order to ensure the SportGrit
      Volleyball app provides the best experience possible for everyone, we strongly enforce a no tolerance policy for
      objectionable content of any kind. If you see inappropriate content, please use the "Report as offensive" feature
      found under each post.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">2. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Scope of License</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC grants you a limited,
      non-exclusive, non-transferable, revocable license to use the SportGrit Volleyball App for your personal,
      non-commercial purposes. You may only use the SportGrit Volleyball App on Apple devices that you own or control
      and as permitted by the App Store Terms of Service.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">3. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Maintenance and Support</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC does provide minimal
      maintenance or support for the app but not to the extent that any maintenance or support is required by
      applicable law. Sports Grit, LLC, not Apple, shall be obligated to furnish any such maintenance or support.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">4. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Warranty</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC disclaims all
      warranties regarding the SportGrit Volleyball App to the fullest extent permitted by law. To the extent any
      warranty exists under law that cannot be disclaimed, Sports Grit, LLC, not Apple, shall be solely responsible for
      such warranty.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">5. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Product Claims</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC, not Apple, is
      responsible for addressing any claims by you relating to the SportGrit Volleyball App or use of it, including,
      but not limited to: (i) any product liability claim; (ii) any claim that the SportGrit Volleyball App fails to
      conform to any applicable legal or regulatory requirement; and (iii) any claim arising under consumer protection
      or similar legislation. Nothing in this Agreement shall be deemed an admission that you may have such claims.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">6. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Third Party Intellectual Property Claims</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC shall not be obligated
      to indemnify or defend you with respect to any third party claim arising out or relating to the SportGrit
      Volleyball App. To the extent Sports Grit, LLC is required to provide indemnification by applicable law, Sports
      Grit, LLC, not Apple, shall be solely responsible for the investigation, defense, settlement and discharge of any
      claim that the SportGrit Volleyball App or your use of it infringes any third party intellectual property right.</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">7. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Legal Compliance</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">You must represent and warrant that you
      are (i) not located in a country that is subject to a U.S. Government embargo, or that has been designated by the
      U.S. Government as a &ldquo;terrorist supporting&rdquo; country; and (ii) is not listed on any U.S. Government
      list of prohibited or restricted parties.</span></span></p>
<p><span style="color: #333333;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;"><strong>8.
          Developer Name and Address</strong></span></span></span><span style="color: #333333;"><span style="font-family: Calibri, serif;"><span
        style="font-size: medium;">: </span></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">All questions, complaints or claims with
      respect to the Licensed Application should be directed to </span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Name &ndash; Sports Grit, LLC</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Address - 613 Coventry Lane, ALPINE, UT
      - 84004, United States</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Contact #- +1(801) 376-0135</span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Email id &ndash; </span></span><span
    style="color: #0000ff;"><u><a href="mailto:admin@sportgrit.com"><span style="font-family: Calibri, serif;"><span
            style="font-size: medium;">admin@sportgrit.com</span></span></a></u></span></p>
<p>&nbsp;</p>
<p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="color: #333333;"><span
          style="font-family: Calibri, serif;"><strong>9. Third Party Terms of Agreement:</strong></span></span></span></span></p>
<p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="color: #333333;"><span
          style="font-family: Calibri, serif;">You must comply with applicable third party terms of agreement when
          using the SportGrit Volleyball app.</span></span></span></span></p>
<p>&nbsp;</p>
<p><a name="_GoBack"></a> <span style="font-family: Calibri, serif;"><span style="font-size: medium;">10. </span></span>
  <span style="color: #333333;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;"><strong>Third
          Party </strong></span></span></span></p>
<p><span style="color: #333333;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">This
        Agreement is between you and </span></span></span><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports
      Grit, LLC </span></span><span style="color: #333333;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">only,
        and not Apple, Inc. (&ldquo;Apple&rdquo;). Notwithstanding the foregoing, you acknowledge that Apple and its
        subsidiaries are third party beneficiaries of this Agreement and Apple has the right to enforce this Agreement
        against you. </span></span></span><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports
      Grit, LLC</span></span><span style="color: #333333;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">,
        not Apple, is solely responsible for the SportGrit Volleyball App and its content.</span></span></span></p>
<p>&nbsp;</p>
<p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="color: #333333;"><span
          style="font-family: Calibri, serif;"><strong>10. Third Party Beneficiary</strong></span></span><span style="color: #333333;"><span
          style="font-family: Calibri, serif;">: </span></span></span></span></p>
<p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="color: #333333;"><span
          style="font-family: Calibri, serif;">You acknowledge and agree that Apple, and Apple&rsquo;s subsidiaries,
          are third party beneficiaries of the EULA, and that, upon the End-User&rsquo;s acceptance of the terms and
          conditions of the EULA, Apple will have the right (and will be deemed to have accepted the right) to enforce
          the EULA against the End-User as a third party beneficiary thereof.</span></span></span></span></p>
<p><br /> </p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">11. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Consent to Use of Data</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC may collect and use
      information about your usage of the SportGrit Volleyball App, including certain types of information from and
      about your device. Sports Grit, LLC may use this information, as long as it is in a form that does not personally
      identify you, to measure the use and performance of the SportGrit Volleyball App.</span></span></p>
<p><br /> </p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">12. </span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;"><strong>Objectionable Content Policy</strong></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Objectionable Content may not be
      submitted to the SportGrit Volleyball app. Sports Grit, LLC , and administrators of each Club enrolled with
      Sports Grit, LLC and visible in the Sportgrit Volleyball app will moderate all content and ultimately decide
      whether or not to allow submissions to the extent such content includes, is in conjunction with, or alongside
      any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit
      materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii)
      content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or
      other personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes the use or
      sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling,
      including without limitation, any online casino, sports books, bingo or poker.</span></span></p>
<p><br /> </p>
<p><span style="color: #262626;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;"><strong>13.
          External Services</strong></span></span></span><span style="color: #262626;"><span style="font-family: Calibri, serif;"><span
        style="font-size: medium;">. </span></span></span></p>
<p><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC </span></span><span
    style="color: #262626;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">may enable
        access to SportGrit Volleyball&rsquo;s and/or third-party services and websites (collectively and individually,
        "External Services"). You agree to use the External Services at your sole risk. </span></span></span><span
    style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports Grit, LLC </span></span><span style="color: #262626;"><span
      style="font-family: Calibri, serif;"><span style="font-size: medium;">is not responsible for examining or
        evaluating the content or accuracy of any third-party External Services, and shall not be liable for any such
        third-party External Services. Data displayed by any Licensed Application or External Service, including but
        not limited to financial, medical and location information, is for general informational purposes only and is
        not guaranteed by </span></span></span><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports
      Grit, LLC </span></span><span style="color: #262626;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">or
        its agents. You will not use the External Services in any manner that is inconsistent with the terms of this
        EULA or that infringes the intellectual property rights of </span></span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;">Sports Grit, LLC </span></span><span style="color: #262626;"><span style="font-family: Calibri, serif;"><span
        style="font-size: medium;">or any third party. You agree not to use the External Services to harass, abuse,
        stalk, threaten or defame any person or entity, and that </span></span></span><span style="font-family: Calibri, serif;"><span
      style="font-size: medium;">Sports Grit, LLC </span></span><span style="color: #262626;"><span style="font-family: Calibri, serif;"><span
        style="font-size: medium;">is not responsible for any such use. External Services may not be available in all
        languages or in your Home Country, and may not be appropriate or available for use in any particular location.
        To the extent you choose to use such External Services, you are solely responsible for compliance with any
        applicable laws. </span></span></span><span style="font-family: Calibri, serif;"><span style="font-size: medium;">Sports
      Grit, LLC </span></span><span style="color: #262626;"><span style="font-family: Calibri, serif;"><span style="font-size: medium;">reserves
        the right to change, suspend, remove, disable or impose access restrictions or limits on any External Services
        at any time without notice or liability to you.</span></span></span></p>
<p><br /> </p>
<p><br /> </p>
