.container {
  text-align: center;
  padding: 1em;
}
.mat-card {
  padding: 10px;
  flex:inherit !important;
}
.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:row !important;
}

.column {
  padding: 0 10px;
}
.dash-heading {
  height: 60px;
  padding-top: 0px;
}
.overall-statics {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  gap: 883px;
  border-radius: 10px;
  border: 1px solid var(--dashboard-grey, #e3e6e9);
  background: var(--all-white, #fff);
  padding: 5px 15px!important;
  // height: 60px;
}

// .overall-statics:is(.mat-expanded) {
//   height: 100%;
// }

.overall-statics .mat-expansion-panel-header-title {
  color: var(--neutral-3, #303437);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel
  .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: none;
}

// .overall-statics .mat-expansion-panel-body {
//   padding: 0 !important;
// }

.card-item {
  margin: 10px 10px 5px 0px;
  width: calc(33% - 7px);
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--dashboard-grey, #e3e6e9);
  background: var(--all-white, #fff);
  box-shadow: 0px 4px 4px 0px #d9d9d9;
}

.overall-statics .mat-expansion-panel-content {
  padding-left: 0 !important;
}
.overall-statics .mat-expansion-panel .mat-card.card-item {
  background: #c3d3e7;
  box-shadow: 0px 4px 4px 0px #d9d9d9;
}
.overall-statics .mat-expansion-panel .mat-card.card-item .svg-icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 7px;
  background: var(--accent-2, #35679d);
  padding: 6px;
}

.main-static .svg-icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 7px;
  background: var(--accent-2, #35679d);
  padding: 10px;
}
.svg-icon svg path {
  color: white !important;
}

.card-label {
  color: var(--neutral-3, #303437);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.user-count {
  color: var(--brand-1, #ec1c37);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

// .card-item:hover {
//   background: linear-gradient(to left, #b7172b, #303437);
// }

.m-table-container {
  gap: 10px;
  overflow-x: auto;
}

/* styles.css or your component's CSS file */
.custom-icon {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust spacing as needed */
}

.custom-icon img {
  width: 24px; /* Set the icon's width */
  height: 24px; /* Set the icon's height */
  transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.custom-icon img.expanded {
  transform: rotate(180deg); /* Rotate the icon when expanded */
}

.mat-expansion-panel-header .mat-expansion-indicator {
  border: 1px solid !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0px 5px !important;
}

::ng-deep .overall-statics .mat-expansion-panel-body {
  padding: 0 !important;
}

// field empty
::ng-deep .mat-mdc-form-field.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-form-field-hide-placeholder {
  .mat-mdc-form-field-text-prefix {
    place-self: center;
  }
}

// field filled
::ng-deep .mat-mdc-form-field.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill {
  .mat-mdc-form-field-text-prefix {
    place-self: baseline;
  }
}

::ng-deep .mat-form-field-label {
  font-size: 12px !important;
}

::ng-deep mat-table {
  width: 100%;
  overflow-x: auto;
  display: block;
}


.banner-text {
  width: 100%;
  margin: 10px 0px 0px;
}

.banner-text p {
  margin: 40px 0px;
}

.banner-text ul {
  list-style: none;
}

.banner-text ul li {
  display: inline-block;
  margin: 0px 10px 10px 0px;
}

.banner-text ul li a {
  display: block;
}

.banner-text ul li a img {
  width: 150px;
  border-radius: 7px;
}

@media screen and (max-width: 768px) {
  .banner-text h4{
    font-size: 1.5rem;
    margin-bottom:1rem;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:nowrap;
    justify-content:space-evenly;
  }

  .card-item {
    flex: 0 0 48%; /* Adjust the width as needed */
    margin-bottom: 20px;
    width: 100%;
  }

  .user-count {
    font-size: 24px;
  }

  .card-label {
    font-size: 18px;
  }

  .new-mat-card {
    width: 100%;
    margin-bottom: 16px;
  }

  .m-table-container {
    overflow-x: auto;
  }

  .m-table-header {
    font-size: 14px;
  }

  .m-pointer {
    cursor: pointer;
  }

  .head-right-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .mt-3 {
      margin-top: 10px;
    }
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .new-mat-card {
    width: 100%;
  }

  .m-table-container {
    overflow-x: auto;
  }

  .m-table-header {
    font-size: 14px;
  }

  .m-pointer {
    cursor: pointer;
  }

  .head-right-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .mt-3 {
      margin-top: 10px;
    }
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .new-mat-card {
    width: 48%; /* Adjust the width as needed */
  }

  .m-table-container {
    overflow: hidden;
  }

  .m-table-header {
    font-size: 18px;
  }

  .m-pointer {
    cursor: pointer;
  }

  .head-right-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .mt-3 {
      margin-top: 20px;
    }
  }
}

.home-ul{
  padding: 0 !important;
}