  <div class='reset-password'>
    <mat-card style='    width: 63%;'>
      <mat-card-content>
        <div *ngIf="passwordMismatch" class="errortxt">
          <span>Password Mismatch</span>
        </div>
        <div class="input-container">
          <div class="label-container">
            <span class="label-icon">
            </span>
            <span class="label">ENTER PASSWORD :</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'" appearance="outline">
              <input [type]="hide ? 'password' : 'text'"  matInput placeholder="Enter Password" [(ngModel)]='newPassword' name="newPassword" required>
              <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ?'visibility': 'visibility_off' 
                  }}</mat-icon>
            </mat-form-field>
          </div>
        </div>

      
        <div class="input-container">
          <div class="label-container">
            <span class="label-icon">
            </span>
            <span class="label"> CONFIRM PASSWORD:</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'" appearance="outline">
              <input [type]="hide ? 'password' : 'text'"  matInput placeholder="Re-Enter Password" [(ngModel)]='reNewPassword' name="reNewPassword" (keyup)="matchPassword()"
                required />
                <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ?'visibility' :'visibility_off' 
                   }}</mat-icon>
            </mat-form-field>
          </div>
        </div>


        
        <div style=' display: flex;     justify-content: center;'>
          <button mat-raised-button class="m-jumbo-button m-pointer" style='    height: 50px;
          justify-content: center;
          align-items: center;
          display: flex;'
            (click)="updatepassword()">Submit</button>
          <!-- <button mat-raised-button class="m-jumbo-button m-pointer" style='    height: 50px;
          justify-content: center;
          align-items: center;
          display: flex;'
            (click)="cancel()">Cancel</button> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
