<mat-toolbar class="header" fxFill>
  <div fxFill fxLayout="row" class="head-container">
    <!-- Toggler Button -->
    <!-- <button mat-icon-button (click)="toggleLeftMenu()" >
      <mat-icon>menu</mat-icon>
    </button> -->
    <div fxFlex="15" class="select-dropdowns">
      <div fxFlex="30">
        <button mat-icon-button (click)="toggleLeftMenu()" >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxHide.gt-sm>&nbsp;&nbsp;&nbsp;</div>
      <div fxFlex="30">
        <span class="page-title">{{ title }}</span>
      </div>
    </div>
    <div fxLayoutAlign="end" class="select-dropdowns">
      <div style="line-height: 10px">
        <div class="user-dropdown">
          <div class="button" (click)="showDropdown()">
            <span class="m-pointer m-icon image-container">
              <img
                class="img profile-img"
                [src]="profile_image || '/assets/user.png'"
                onError="/assets/user.png"
                width="50"
                height="50"
              />
            </span>
          </div>
          <div class="dropdown" (click)="showDropdown()">
            <mat-card>
              <div class="menu-item" routerLink="/account/profile">
                <i class="fas fa-user"></i>&nbsp;&nbsp;Profile
              </div>
              <div class="menu-item" routerLink="/account/change-password">
                <i class="fas fa-key"></i>&nbsp;&nbsp;Change Password
              </div>
              <div class="menu-item" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
