<footer class="footer-04" id="contact">
  <div class="container">
    <div class="row pb-40">
      <div class="col-6 col-sm-4 col-md-2 col-lg-2 mb-md-0 mb-4">
        <h2 class="footer-heading">Menu</h2>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://sportgrit.com/cms-page/terms-conditions"
              class="py-1 d-block"
              >Terms of Service</a
            >
          </li>
          <li>
            <a
              href="https://sportgrit.com/cms-page/privacy-policy"
              class="py-1 d-block"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-lg-2 mb-md-0 mb-4">
        <h2 class="footer-heading">Social</h2>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="social-icon">
              <img
                class="icon"
                alt="Facebook"
                src="./assets/images/facebook-1.svg"
              />
              <span class="icon-label">Facebook</span>
            </a>
          </li>
          <li>
            <a href="#" class="social-icon">
              <img
                class="icon"
                alt="Instagram"
                src="./assets/images/instagram-1.svg"
              />
              <span class="icon-label">Instagram</span>
            </a>
          </li>
          <li>
            <a href="#" class="social-icon">
              <img
                class="icon"
                alt="Twitter"
                src="./assets/images/twitter-1.svg"
              />
              <span class="icon-label">Twitter</span>
            </a>
          </li>
          <li>
            <a href="#" class="social-icon">
              <img
                class="icon"
                alt="YouTube"
                src="./assets/images/youtubeplay-1.svg"
              />
              <span class="icon-label">YouTube</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-4 col-md-3 col-lg-3 mb-md-0 mb-4">
        <h2 class="footer-heading">Get The App</h2>
        <a [href]="ios_app_url" target="_blank">
          <img class="group-icon2" alt="" src="./assets/images/group2.svg" />
        </a>
        &nbsp;
        <a [href]="android_app_url" target="_blank">
          <img class="group-icon3" alt="" src="./assets/images/group3.svg" />
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 mb-md-0 mb-2">
        <h2 class="footer-heading">Get In Touch</h2>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
  <div class="w-100 mt-2 border-top py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 text-center">
          <p class="copyright">
            © 2019 - {{ year }} SportGrit. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>