<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <form id="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h5>Personal information</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="First name"
              required
              formControlName="first_name"
            />
            <mat-error
              *ngIf="
                (userForm.get('first_name')?.touched || nextButtonClicked) &&
                userForm.get('first_name')?.hasError('required')
              "
            >
              First name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Last name"
              required
              formControlName="last_name"
            />
            <mat-error
              *ngIf="
                (userForm.get('last_name')?.touched || nextButtonClicked) &&
                userForm.get('last_name')?.hasError('required')
              "
            >
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Username"
              required
              formControlName="user_name"
            />
            <mat-error
              *ngIf="
                (userForm.get('user_name')?.touched || nextButtonClicked) &&
                userForm.get('user_name')?.hasError('required')
              "
            >
              Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Mobile"
              required
              formControlName="mobile_phone"
            />
            <mat-error
              *ngIf="
                (userForm.get('mobile_phone')?.touched || nextButtonClicked) &&
                userForm.get('mobile_phone')?.hasError('required')
              "
            >
              Mobile number is required
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email"
              required
              formControlName="email"
            />
            <mat-error
              *ngIf="
                (userForm.get('email')?.touched || nextButtonClicked) &&
                userForm.get('email')?.hasError('required')
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                (userForm.get('email')?.touched || nextButtonClicked) &&
                userForm.get('email')?.hasError('email')
              "
            >
              Email must be a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="password"
              placeholder="Password"
              required
              formControlName="password"
            />
            <mat-error
              *ngIf="
                (userForm.get('password')?.touched || nextButtonClicked) &&
                userForm.get('password')?.hasError('required')
              "
            >
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              required
              formControlName="cPassword"
            />
            <mat-error
              *ngIf="
                (userForm.get('cPassword')?.touched || nextButtonClicked) &&
                userForm.get('cPassword')?.hasError('required')
              "
            >
              Confirm password is required!
            </mat-error>
            <mat-error
              *ngIf="
                (userForm.get('cPassword')?.touched || nextButtonClicked) &&
                userForm.get('cPassword')?.hasError('passwordMismatch')
              "
            >
              Passsword and Confirm Password didn't match.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center mt-2">
            <mat-slide-toggle
              class="terms-service"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled"
              formControlName="acceptTerms"
            >
            &nbsp; I agree to the SportGrit LLC.
            <a routerLink="/cms-page/terms-conditions" target="_blank">Terms of Use</a> and <a routerLink="/cms-page/privacy-policy" target="_blank">Privacy Policy</a>
            </mat-slide-toggle>
            <mat-error
              *ngIf="
                (userForm.get('acceptTerms')?.touched || nextButtonClicked) &&
                userForm.get('acceptTerms')?.hasError('required')
              "
            >
              Please accept the terms and conditions.
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button mat-raised-button type="submit" class="btn btn theme-btn">
              <!-- (click)="nextButtonClick()" -->
              Next
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- <div class="navigation">
      <button type="button" (click)="nextButtonClick()">Next</button>
    </div> -->
  </div>
</section>
