<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5>Select Your Sport</h5>
        </div>
      </div>
    </div>
    <form id="addressForm" [formGroup]="step1Form" (ngSubmit)="onSubmit()">
      <ng-container>
        <mat-radio-group name="sport" formControlName="sport">
          <div class="row text-center">
            <div
              class="col-md-6 sport-option"
              *ngFor="let sport of sports; let i = index"
            >
              <div class="sport-container">
                <label class="radio-label">
                  <mat-radio-button
                    [value]="sport._id"
                    class="radio-button"
                  ></mat-radio-button>
                  {{ sport.sport_name }}
                </label>
              </div>
            </div>
          </div>
        </mat-radio-group>
      </ng-container>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-1">
          <mat-error
            *ngIf="
              (step1Form.get('sport')?.touched || nextButtonClicked) &&
              step1Form.get('sport')?.hasError('required')
            "
          >
            Sport is required
          </mat-error>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button
              mat-raised-button
              class="btn btn gray-btn"
              routerLink="/auth/register"
            >
              Previous
            </button>
            &nbsp;
            <button mat-raised-button class="btn btn theme-btn" type="submit">
              Next
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- <div class="navigation">
      <button type="button" routerLink="/auth/onboarding/step1">
        Previous
      </button>
      <button form="addressForm" type="submit" (click)="nextButtonClick()">
        Next
      </button>
    </div> -->
  </div>
</section>
