@import "src/theme/theme-variables";
@import "variables";

:host {
  width: 100%;
}

.main-title {
  color: var(--neutral-1, #16191c);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.sub-title {
  color: var(--neutrall-40, #595e62);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.full-screen-container {
  height: 100vh;
  // position: relative;
  // overflow: hidden;

  max-width: 100%;
  margin: 0 auto;
}

.sections-container {
  height: 100%;
  width: 100% !important;
}

.logo-container {
  margin-top: 20px;
}

.additional-content {
  color: white;
  margin-top: 30%;
  // margin-top: 250px;
}

.left-section {
  height: 100%;
  padding: 20px;
  min-width: 50%;
  /* Set a minimum width of 50% for both sections */
  box-sizing: border-box;
  /* Ensure padding is included in the minimum width */
}

.left-section {
  color: white;
}
.links-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  /* Push the links container to the bottom */
}

.copyright {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// .left-link,
.right-link a {

  color: #fff;
  text-align: right;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.page-welcome {
  color: #fff;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.page-sub-heading {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login button {
  width: 431px;
  max-width: 431px;
  border-radius: 10px;
  background: var(--brand-1, #ec1c37);
  height: 56px;

  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
