// :host {
//   display: flex;
//   flex: 1;
// }

.loader{
  position:absolute;
}
::ng-deep .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  // top: 10px !important;
  width: 180px;
}