<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5>Select Athlete Or Coach</h5>
          <p>Select the athletes or coaches you are fan of and get started</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="search-container">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Search By Name</mat-label>
            <input
              matInput
              [(ngModel)]="searchText"
              placeholder="Type to search"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <form id="accountForm" [formGroup]="athleteForm" (ngSubmit)="onSubmit()">
      <ng-container>
        <div formArrayName="selectedAthletes">
          <div class="row athlete-row">
            <div
              class="col-md-6 sport-option"
              [class.left-col-md-6]="i % 2 === 0"
              *ngFor="let athlete of athleteList; let i = index"
              (click)="onSportOptionClick(athlete._id)"
            >
              <div class="sport-container">
                <label class="checkbox-label">
                  <input
                    type="checkbox"
                    [formControlName]="athlete._id"
                    class="checkbox-button"
                    (click)="onSportOptionClick(athlete._id)"
                  />
                  {{ athlete?.profile_fields[0]?.value }}
                  {{ athlete?.profile_fields[1]?.value }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-1">
            <div
              *ngIf="
                athleteForm?.get('selectedAthletes')?.hasError('required') &&
                athleteForm?.touched
              "
            >
              At least one athlete must be selected.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-1">
            <mat-error
              *ngIf="
                (athleteForm.get('gender')?.touched || nextButtonClicked) &&
                athleteForm.get('gender')?.hasError('required')
              "
            >
              Team type is required
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button
              mat-raised-button
              class="btn btn gray-btn"
              routerLink="/auth/onboarding/step1"
            >
              Previous
            </button>
            &nbsp;
            <button mat-raised-button class="btn btn theme-btn" type="submit">
              Next
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
