.card-avatar {
  justify-content: center;
  display: flex;
  margin-top: 7px;
}
.profile-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.card-avatar {
  position: relative;
  overflow: hidden;
}

/* profile.component.css */
.profile-info {
  margin-top: 20px;
}

.profile-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 10px;
}

.info-value {
  font-weight: normal;
}
