<!-- profile.component.html -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <label for="fileInput" class="image-container">
              <img
                class="img profile-img"
                [src]="profile_image || '/assets/user.png'"
                onError="/assets/user.png"
                width="128"
                height="128"
              />
            </label>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">{{ first_name }} {{ last_name }}</h4>
            <h5 class="card-category text-gray">{{ role }}</h5>
            <h6 class="card-category text-gray">{{ club }} / {{ sport }}</h6>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="profile-info">
              <div class="row">
                <div *ngFor="let info of profileData" class="col-md-6">
                  <div
                    class="profile-info-item"
                    *ngIf="info.name != 'profile_image'"
                  >
                    <span class="info-label">{{ info.label }}:</span>
                    <span class="info-value">{{ info.value }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
