<div class="main-content">
  <div class="container-fluid">
    <div class="loader-overlay" *ngIf="isLoading">
      <div class="loader">
        <mat-progress-spinner
          diameter="50"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- Changed col-md-4 to col-md-8 -->
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <span class="sport-logo">
              <img
                class="img"
                [src]="sport_logo || '/assets/user.png'"
                onError="/assets/user.png"
              />
            </span> -->
            <label for="fileInput" class="image-container">
              <img
                class="img profile-img"
                [src]="profile_image || '/assets/user.png'"
                onError="/assets/user.png"
                width="128"
                height="128"
              />
            </label>
            <span class="club-logo">
              <img
                class="img"
                [src]="club_logo || '/assets/user.png'"
                onError="/assets/user.png"
              />
            </span>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title">{{ first_name }} {{ last_name }}</h4>
            <h5 class="card-category text-gray">
              <ng-container *ngFor="let role of roles; let last = last">
                <span>{{ role?.name }}</span>
                <span *ngIf="!last">, </span>
                <span *ngIf="role?.abbr === 'PAR'"> of </span>
                <div *ngIf="role?.abbr === 'PAR'">
                  <div *ngFor="let athlete of ath_data" class="athlete-info">
                    <div class="ath-profile-img">
                      <img
                        class="img ath-profile-img"
                        [src]="athlete.ath_profile_image || '/assets/user.png'"
                        onError="/assets/user.png"
                        width="50"
                        height="50"
                      />
                    </div>
                    <div class="athlete-details">
                      <div class="name">
                        <span>{{ athlete.name }}</span>
                      </div>
                      <div>
                        <span>
                          <ng-container *ngIf="athlete.ath_club">
                            <span style="font-weight: bold">
                              {{ athlete.ath_sport }}
                            </span>
                          </ng-container>
                        </span>
                        <span>
                          <ng-container *ngIf="athlete.ath_sport">
                            <sub class="star">*</sub> <span style="font-weight: bold"> {{
                              athlete.ath_club
                            }}</span>
                          </ng-container>
                        </span>
                      </div>
                      <div>
                        <span>
                          <ng-container *ngIf="athlete.ath_age">
                            {{ athlete.ath_age }}
                          </ng-container>
                        </span>
                        <span>
                          <ng-container *ngIf="athlete.ath_team">
                            <sub class="star">*</sub> {{ athlete.ath_team }}
                          </ng-container>
                        </span>
                        <span>
                          <ng-container *ngIf="athlete.ath_position">
                            <sub class="star">*</sub> {{ athlete.ath_position }}
                          </ng-container>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </h5>
            <h6 *ngIf="role !== 'PAR'">
              <ng-container *ngIf="age">{{ age }}</ng-container>
              <ng-container *ngIf="user?.teams && user.teams.length > 0">
                <sub class="star"> * </sub>{{ user?.teams[0]?.name }}
              </ng-container>
              <ng-container *ngIf="position">
                <sub class="star"> * </sub>{{ position }}
              </ng-container>
            </h6>
            <h6 *ngIf="role !== 'PAR'" class="card-category text-gray">
              <ng-container *ngIf="user?.sport?.sport_name">
                <span style="font-weight: bold">
                  {{ user.sport.sport_name }}
                </span>
              </ng-container>
              <ng-container *ngIf="user?.club?.club_name">
                <sub class="star"> * </sub>{{ user?.club?.club_name }}
              </ng-container>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="profile-info">
              <div class="row">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-accordion>
                        <mat-expansion-panel expanded>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Personal Information
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-info-container">
                                <div class="profile-info-item">
                                  <span class="info-label">First Name:</span>
                                  <span class="info-value">
                                    {{ first_name }}
                                  </span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">Last Name:</span>
                                  <span class="info-value">
                                    {{ last_name }}
                                  </span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">Username:</span>
                                  <span class="info-value">
                                    {{ username }}
                                  </span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="role == 'ATH'"
                                >
                                  <span class="info-label">Team Type:</span>
                                  <span class="info-value"> {{ gender }} </span>
                                </div>

                                <div
                                  class="profile-info-item"
                                  *ngIf="
                                    role == 'FFF' ||
                                    role == 'COA' ||
                                    role == 'CAD'
                                  "
                                >
                                  <span class="info-label">Mobile No:</span>
                                  <span class="info-value" *ngIf="mobile_phone">
                                    + {{ phone_code }} {{ mobile_phone }}</span
                                  >
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="
                                    role == 'FFF' ||
                                    role == 'COA' ||
                                    role == 'CAD'
                                  "
                                >
                                  <span class="info-label">Email:</span>
                                  <span class="info-value">{{ email }}</span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="role == 'FFF'"
                                >
                                  <span class="info-label">Fan of:</span>
                                  <span class="info-value">{{ fan_of }}</span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="role == 'CAD'"
                                >
                                  <span class="info-label"
                                    >Club Role/Title:</span
                                  >
                                  <span class="info-value">{{
                                    club_title
                                  }}</span>
                                </div>

                                <div
                                  class="profile-info-item"
                                  *ngIf="role == 'REC'"
                                >
                                  <span class="info-label"
                                    >Recruiter title:</span
                                  >
                                  <span class="info-value">{{
                                    recruiter_title
                                  }}</span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="role == 'REC'"
                                >
                                  <span class="info-label"
                                    >University name:</span
                                  >
                                  <span class="info-value">{{
                                    university_name
                                  }}</span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="role == 'REC'"
                                >
                                  <span class="info-label"
                                    >Official Email:</span
                                  >
                                  <span class="info-value">{{
                                    official_email
                                  }}</span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="role == 'REC'"
                                >
                                  <span class="info-label">Website URL:</span>
                                  <span class="info-value"
                                    ><a
                                      href="{{ program_website_url }}"
                                      target="_blank"
                                      >{{ program_website_url }}</a
                                    ></span
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel
                          *ngIf="role == 'ATH' || role == 'PAR'"
                        >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Contact Information
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-info-container">
                                <div class="profile-info-item">
                                  <span class="info-label">Mobile No:</span>
                                  <span class="info-value" *ngIf="mobile_phone">
                                    + {{ phone_code }} {{ mobile_phone }}</span
                                  >
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">Email:</span>
                                  <span class="info-value">{{ email }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">Address:</span>
                                  <span class="info-value">{{
                                    street_address
                                  }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">City:</span>
                                  <span class="info-value">{{ city }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">State:</span>
                                  <span class="info-value">{{ state }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">Zip:</span>
                                  <span class="info-value">{{ zip }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">Country:</span>
                                  <span class="info-value">{{ country }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="role == 'ATH'">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Academic Information
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-info-container">
                                <div class="profile-info-item">
                                  <span class="info-label">Grad Year:</span>
                                  <span class="info-value">{{
                                    grad_year
                                  }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">School Name:</span>
                                  <span class="info-value">{{
                                    school_name
                                  }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">GPA:</span>
                                  <span class="info-value">{{ gpa }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label">ACT Score:</span>
                                  <span class="info-value">{{
                                    act_score
                                  }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label"
                                    >SAT Math Score:</span
                                  >
                                  <span class="info-value">{{
                                    sat_math_score
                                  }}</span>
                                </div>
                                <div class="profile-info-item">
                                  <span class="info-label"
                                    >SAT Verbal Score:</span
                                  >
                                  <span class="info-value">{{
                                    sat_verbal_score
                                  }}</span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="school_img"
                                >
                                  <span class="info-label">School Logo:</span>
                                  <span class="info-value">
                                    <img
                                      class="img profile-img"
                                      [src]="school_img || '/assets/user.png'"
                                      onError="/assets/user.png"
                                      width="128"
                                      height="128"
                                  /></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="role == 'ATH'">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Athlete Information
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-info-container">
                                <div class="profile-info-item">
                                  <span class="info-label">Position:</span>
                                  <span class="info-value">{{ position }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Jersey #:</span>
                                  <span class="info-value">{{
                                    jersey_no
                                  }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Handed:</span>
                                  <span class="info-value">{{ handed }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Captain:</span>
                                  <span class="info-value">{{ captain }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Approach:</span>
                                  <span class="info-value">{{ approach }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Reach:</span>
                                  <span class="info-value">{{ reach }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Height:</span>
                                  <span class="info-value"
                                    >{{ height_feets }}'
                                    {{ height_inch }}''</span
                                  >
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Honors:</span>
                                  <span class="info-value">{{ honors }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">USAV #:</span>
                                  <span class="info-value">{{ usav_no }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">AAU #:</span>
                                  <span class="info-value">{{ aau_no }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="role == 'ATH'">
                          <mat-expansion-panel-header>
                            <mat-panel-title> Uniform Sizes </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-info-container">
                                <div class="profile-info-item">
                                  <span class="info-label">Jersey:</span>
                                  <span class="info-value">{{ jersey }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Game Shorts:</span>
                                  <span class="info-value">{{ shorts }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Sweat Top:</span>
                                  <span class="info-value">{{
                                    sweat_jacket
                                  }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Sweat Bottoms:</span>
                                  <span class="info-value">{{
                                    sweat_pants
                                  }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">Spandex:</span>
                                  <span class="info-value">{{ spandex }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="role == 'ATH'">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Recruiting Information
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-info-container">
                                <div class="profile-info-item">
                                  <span class="info-label">Status:</span>
                                  <span class="info-value">{{
                                    status?.label
                                  }}</span>
                                </div>

                                <div class="profile-info-item">
                                  <span class="info-label">College Name:</span>
                                  <span class="info-value">{{
                                    college_name
                                  }}</span>
                                </div>
                                <div
                                  class="profile-info-item"
                                  *ngIf="college_img"
                                >
                                  <span class="info-label">College Logo:</span>
                                  <span class="info-value">
                                    <img
                                      class="img profile-img"
                                      [src]="college_img || '/assets/user.png'"
                                      onError="/assets/user.png"
                                      width="128"
                                      height="128"
                                  /></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
