.card-avatar {
  justify-content: center;
  display: flex;
  margin-top: 7px;
}

.profile-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.card-avatar {
  position: relative;
  overflow: hidden;
}

/* profile.component.css */
.profile-info {
  // margin-top: 20px;
}

.profile-info-item {
  display: flex;
  align-items: center;
  // margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 10px;
}

.info-value {
  font-weight: normal;
}

.profile-info-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-info-item {
  flex: 0 0 50%; /* Two items per row */
  max-width: 50%;
  padding: 5px;
  box-sizing: border-box;
}
.card-body{
  padding: 0px 10px 10px !important;
}
/* Media query for smaller screens (up to 767px) */
@media (max-width: 767px) {
  .profile-info-item {
    flex: 0 0 100%; /* One item per row */
    max-width: 100%;
  }
}


::ng-deep .mat-expansion-panel-body {
  padding: 0 10px 10px !important;
}


.mat-expansion-panel-header-title {
  color: #ffffff;
  padding: 10px !important;
  font-size: 18px !important;
}

/* Apply background color to header */
.mat-expansion-panel-header {
  background: #35679d !important;
  padding-right: 10px !important;
  height: 35px !important;
  margin-top: 10px !important;
  border-radius: 5px !important;
}

/* Apply background color to header on hover */
.mat-expansion-panel-header:hover {
  background: #35679d !important;
  padding-right: 10px !important;
  height: 35px !important;
  margin-top: 10px !important;
}

/* Apply background color to expanded header */
.mat-expansion-panel-header.mat-expanded {
  background: #35679d !important;
  padding-right: 10px !important;
  height: 35px !important;
  margin-top: 10px !important;
}

/* Apply background color to expanded header on hover */
.mat-expansion-panel-header.mat-expanded:hover {
  background: #35679d !important;
  padding-right: 10px !important;
  height: 35px !important;
  margin-top: 10px !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the loader is above other content */
}

.loader {
  text-align: center;
}

