<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5>Score!</h5>
          <p>Well done! You have completed the initial Onboarding steps.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="./assets/images/47950-sportbank-basketball.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="button-container text-center mt-3">
          <button
            mat-raised-button
            type="button"
            (click)="goToLogin()"
            class="btn btn theme-btn"
          >
            Let's Go!
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
