<div class="m-container">
  <div class="card-container main-static">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h5>Change Password</h5>
          </div>
        </div>
      </div>
      <form
        id="changePasswordForm"
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="{{ showOldPassword ? 'text' : 'password' }}"
                autocomplete="off"
                placeholder="Old password"
                required
                formControlName="old_password"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePasswordVisibility('old_password')"
                [attr.aria-label]="'Toggle ' + (showOldPassword ? 'Hide' : 'Show') + ' password'"
              >
                <mat-icon>{{ showOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  changePasswordForm.get('old_password')?.touched &&
                  changePasswordForm.get('old_password')?.hasError('required')
                "
              >
                Old password is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="{{ showNewPassword ? 'text' : 'password' }}"
                autocomplete="off"
                placeholder="New password"
                required
                formControlName="new_password"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePasswordVisibility('new_password')"
                [attr.aria-label]="'Toggle ' + (showNewPassword ? 'Hide' : 'Show') + ' password'"
              >
                <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  changePasswordForm.get('new_password')?.touched &&
                  changePasswordForm.get('new_password')?.hasError('required')
                "
              >
                New password is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="{{ showConfirmPassword ? 'text' : 'password' }}"
                autocomplete="off"
                placeholder="Confirm password"
                required
                formControlName="confirm_password"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="togglePasswordVisibility('confirm_password')"
                [attr.aria-label]="'Toggle ' + (showConfirmPassword ? 'Hide' : 'Show') + ' password'"
              >
                <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  changePasswordForm.get('confirm_password')?.touched &&
                  changePasswordForm
                    .get('confirm_password')
                    ?.hasError('required')
                "
              >
                Confirm password is required
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('confirm_password')?.hasError('passwordMismatch')">
                Passwords do not match
              </mat-error>
              </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="button-container text-center mt-3">
              <button mat-raised-button type="submit" class="btn btn theme-btn">
                Change Password
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
