<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5>Select Athletes</h5>
          <p>
            Select one or multiple athletes if you have more than Athlete
            playing at this club
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="search-container">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <!-- <mat-label>Search By Name</mat-label> -->
            <input
              matInput
              [(ngModel)]="searchText"
              placeholder="Type to search"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="selected-items">
          <div *ngFor="let selectedId of athleteFormArray.value" class="tag">
            {{ getAthleteNameById(selectedId) }}
            <span class="remove-icon" (click)="removeAthlete(selectedId)"
              >X</span
            >
          </div>
        </div>
      </div>
    </div>
    <div>&nbsp;</div>
    <form id="accountForm" [formGroup]="athleteForm" (ngSubmit)="onSubmit()">
      <ng-container>
        <mat-radio-group name="athlete" formControlName="athlete" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
          <div class="row athlete-row">
            <div
              class="col-md-6 sport-option"
              [class.left-col-md-6]="i % 2 === 0"
              *ngFor="let ath of filteredAthleteList; let i = index"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign.xs="center center"
            >
              <div class="sport-container">
                <label class="radio-label">
                  <mat-radio-button
                    [value]="ath._id"
                    class="radio-button"
                    (change)="onRadioChange(ath._id)"
                  ></mat-radio-button>
                  {{ ath?.profile_fields[0]?.value }}
                  {{ ath?.profile_fields[1]?.value }}
                </label>
              </div>
            </div>
          </div>
          <mat-error *ngIf="athleteForm.hasError('atLeastOneAthlete')">
            At least one athlete must be selected.
          </mat-error>
        </mat-radio-group>
      </ng-container>
      
      
      <div class="row mt-2">
        <div class="col-md-12 text-center">
          <button
            mat-raised-button
            type="button"
            (click)="addSelectedAthlete()"
            color="accent"
          >
            Add Another Athlete
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-1">
            <mat-error
              *ngIf="
                (athleteForm.get('athlete')?.touched || nextButtonClicked) &&
                athleteForm.get('athlete')?.hasError('atLeastOneAthlete')
              "
            >
              Athlete is required
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button
              mat-raised-button
              class="btn btn gray-btn"
              routerLink="/auth/onboarding/step3"
            >
              Previous
            </button>
            &nbsp;
            <button mat-raised-button class="btn btn theme-btn" type="submit">
              That's All
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
