<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5>Select Athletes</h5>
          <p>
            Select one or multiple athletes if you have more than Athlete
            playing at this club
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="search-container">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              [(ngModel)]="searchText"
              placeholder="Type to search"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <form
      id="accountForm"
      [formGroup]="athleteCoachForm"
      (ngSubmit)="onSubmit()"
    >
      <ng-container>
        <div
          name="athlete"
          formArrayName="athlete"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="center center"
        >
          <div class="row athlete-row">
            <div
              class="col-md-6 sport-option"
              *ngFor="let ath of filteredAthleteList; let i = index"
              [class.left-col-md-6]="i % 2 === 0"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign.xs="center center"
              [formControl]="getAthleteControl(ath.id)"
            >
            <div class="sport-container">
              <label class="checkbox-label">
                <mat-checkbox
                  class="checkbox-button"
                  (change)="onCheckboxChange($event, ath._id)"
                ></mat-checkbox>
                <div class="athlete-info">
                  <div class="name-container">
                    <span>{{ ath?.first_name }} {{ ath?.last_name }}</span>
                  </div>
                  <div class="details-container">
                    <span>{{ath?.age?.display_value}}</span>
                    <span *ngIf="ath?.position?.display_value"> * {{ath?.position?.display_value}}</span>
                    <span *ngIf="ath?.teams.length"> * {{ath?.teams[0].name}}</span>
                  </div>
                </div>
              </label>
            </div>            
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-1">
            <mat-error
              *ngIf="
                (athleteCoachForm.get('athlete')?.touched ||
                  nextButtonClicked) &&
                athleteCoachForm?.get('athlete')?.hasError('required')
              "
            >
              Please select athlete
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button
              mat-raised-button
              class="btn btn gray-btn"
              routerLink="/auth/onboarding/step3"
            >
              Previous
            </button>
            &nbsp;
            <button mat-raised-button class="btn btn theme-btn" type="submit">
              Next
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
