<section class="section-padding" style="margin-top: 20px; margin-bottom: 20px">
  <div class="container">
    <form id="inquiryForm" [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h5>Personal Information</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="First name"
              required
              formControlName="first_name"
              autocomplete="off"
              class="large-font"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('first_name')?.touched ||
                  submitButtonClicked) &&
                inquiryForm.get('first_name')?.hasError('required')
              "
            >
              First name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Last name"
              required
              formControlName="last_name"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('last_name')?.touched ||
                  submitButtonClicked) &&
                inquiryForm.get('last_name')?.hasError('required')
              "
            >
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              type="email"
              matInput
              placeholder="Email"
              required
              formControlName="email"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('email')?.touched || submitButtonClicked) &&
                inquiryForm.get('email')?.hasError('required')
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                (inquiryForm.get('email')?.touched || submitButtonClicked) &&
                inquiryForm.get('email')?.hasError('email')
              "
            >
              Email must be a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Mobile"
              required
              formControlName="mobile_phone"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('mobile_phone')?.touched ||
                  submitButtonClicked) &&
                inquiryForm.get('mobile_phone')?.hasError('required')
              "
            >
              Mobile number is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Role"
              required
              formControlName="role"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('role')?.touched || submitButtonClicked) &&
                inquiryForm.get('role')?.hasError('required')
              "
            >
              Role is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Sport"
              required
              formControlName="sport"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('sport')?.touched || submitButtonClicked) &&
                inquiryForm.get('sport')?.hasError('required')
              "
            >
              Sport is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Club"
              required
              formControlName="club"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('club')?.touched || submitButtonClicked) &&
                inquiryForm.get('club')?.hasError('required')
              "
            >
              Club is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Website"
              required
              formControlName="website"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('website')?.touched || submitButtonClicked) &&
                inquiryForm.get('website')?.hasError('required')
              "
            >
              Website is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div>
            <button type="button" mat-raised-button (click)="fileInput.click()">
              Choose File
            </button>
            <input
              hidden
              (change)="onFileSelected($event)"
              #fileInput
              type="file"
            />
            <span class="file-name">{{ selectedFile?.name }}</span>
          </div>
          <div *ngIf="inquiryForm.get('logo')?.errors?.invalidFileType" class="error-message" style="color: #f44336;">
            <div *ngIf="inquiryForm.get('logo')?.errors?.invalidFileType">Invalid file type. Please upload an image (JPEG/PNG).</div>
          </div>
        </div>

        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Mesage/Questions"
              required
              formControlName="message"
              autocomplete="off"
            />
            <mat-error
              *ngIf="
                (inquiryForm.get('message')?.touched || submitButtonClicked) &&
                inquiryForm.get('message')?.hasError('required')
              "
            >
              Mesage/Questions is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button mat-raised-button type="submit" class="btn btn theme-btn">
              <!-- (click)="nextButtonClick()" -->
              Next
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
