<section class="section-padding" style="margin-top: 10px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h5>Select Your Role</h5>
          <p>
            Are you the Athlete signing up? Or are you a parent, coach,
            recruiter, etc.?
          </p>
        </div>
      </div>
    </div>
    <form id="accountForm" [formGroup]="step2Form" (ngSubmit)="onSubmit()">
      <ng-container>
        <mat-radio-group name="role" formControlName="role">
          <div class="row">
            <div
              class="col-md-6 sport-option"
              [class.left-col-md-6]="i % 2 === 0"
              *ngFor="let role of roles; let i = index"
            >
              <div class="sport-container">
                <label class="radio-label">
                  <mat-radio-button
                    [value]="role._id"
                    class="radio-button"
                    (change)="onRoleChange($event, role)"
                  ></mat-radio-button>
                  {{ role.name }}
                </label>
              </div>
            </div>
          </div>
        </mat-radio-group>
      </ng-container>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-1">
            <mat-error
              *ngIf="
                (step2Form.get('role')?.touched || nextButtonClicked) &&
                step2Form.get('role')?.hasError('required')
              "
            >
              Role is required
            </mat-error>
          </div>
        </div>
      </div>
      <ng-container *ngIf="selectedrole === 'ATH'">
        <mat-radio-group name="gender" formControlName="gender">
          <div class="row">
            <div
              class="col-md-6 role-gender"
              [class.left-col-md-6]="i % 2 === 0"
              *ngFor="let genderItem of genders; let i = index"
            >
            <div>
              Please select Team Type
            </div>
              <div class="role-container">
                <label class="radio-label">
                  <mat-radio-button
                    [value]="genderItem._id"
                    class="radio-button"
                  ></mat-radio-button>
                  {{ genderItem.name }}
                </label>
              </div>
            </div>
          </div>
        </mat-radio-group>
      </ng-container>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-1">
            <mat-error
              *ngIf="
                (step2Form.get('gender')?.touched || nextButtonClicked) &&
                step2Form.get('gender')?.hasError('required')
              "
            >
              Team type is required
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-container text-center mt-3">
            <button
              mat-raised-button
              class="btn btn gray-btn"
              routerLink="/auth/onboarding/step1"
            >
              Previous
            </button>
            &nbsp;
            <button mat-raised-button class="btn btn theme-btn" type="submit">
              Next
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
