//$primary: rgb(24, 68, 137);
$primary: #595e62;
$title: #303437;
// $header-grey: #EBEBEB; //header background
$header-grey: #ffffff; //header background
$button-grey: #ec1c37; //#7A7A7A; //button background
$white: #FFF;
$black: #16191C;
$red: rgb(178, 11, 11);

// .theme-light {
//   $white: #FFF;
//   $black: #12151C;
//   // ... other light theme variables ...
// }
